body {
  overflow: hidden; 
}

.login-page {
  min-height: 100vh;
  background-color: #111827; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem 8rem;
  
}

/* Center container */
.login-container {
  /* width: 100%;
  max-width: 28rem; 
  margin-left: auto;
  margin-right: auto; */
}

/* Logo */
.login-logo {
  display: block;
  margin: 0 auto;
  height: 3rem;
}

/* Title */
.login-title {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2.5rem; 
  font-weight: 700;
  color: #ffffff;
  padding: none;
}


.login-card {
  /* margin-top: 2rem;
  background-color: #1f2937; 
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25); */
}

/* Form spacing */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

/* Labels */
.login-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #d1d5db; /* gray-300 */
  margin-bottom: 0.25rem;
}

/* Inputs */
.login-input {
  width: 100%;
  padding: 0.5rem 0.1rem;
  background-color: #374151; /* gray-700 */
  border: 1px solid #4b5563; /* gray-600 */
  border-radius: 0.375rem;
  color: #ffffff;
  font-size: 0.875rem;
}

.login-input::placeholder {
  color: #9ca3af; /* gray-400 */
}

.login-input:focus {
  outline: none;
  border-color: #6366f1; /* indigo-500 */
  box-shadow: 0 0 0 1px #6366f1;
}

/* Forgot password */
.login-forgot {
  font-size: 0.875rem;
  font-weight: 500;
  color: #818cf8; /* indigo-400 */
  text-decoration: none;
}

.login-forgot:hover {
  color: #a5b4fc; /* indigo-300 */
}

/* Button */
.login-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #4f46e5; /* indigo-600 */
  border: none;
  border-radius: 0.375rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.login-button:hover {
  background-color: #4338ca; /* indigo-700 */
}

.login-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6366f1;
}
.create-account {
  font-size: 0.875rem;
  font-weight: 500;
  color: #818cf8; /* indigo-400 */
  text-decoration: none;
}